<article class="cajita" style="--cajita-bg: {{ bg | default: 'linear-gradient(#000000, #218e52)' }}; --cajita-text: {{ color | default: '#ffffff' }};">
  <h3>{{ title | default: 'Un titulo' }}</h3>
</article>