{% liquid
  unless button_bg != blank
    assign button_bg = 'var(--primary-color)'
  endunless

  unless button_text_color != blank
    assign button_text_color = '#ffffff'
  endunless

  assign button_text = button_text | default: 'Haz clic aquí'
  assign button_url = button_url | default: '#'
%}

<a 
  href="{{ button_url }}" 
  class="btn" 
  style="--btn-bg: {{ button_bg }}; --btn-color: {{ button_text_color }};"
>
  {{ button_text | upcase }}
</a>