<style>
    .hero-banner {
        padding: 16px;
        padding-top: 118px;
        background-image: url("{{ 'stitch-hero-banner.png' | asset_url }}");
    }
    .hero-banner h1, p {
    color: var(--neutral-color)
    }
    .hero-banner h1 {
        font-size: 36px;
    }
    .hero-banner p {
        font-size: 16px;
    }
</style>

<section class="hero-banner">
    <h1>Powering Your World</h1>
    <p>Professional-grade energy solutions for home, job sites, and industrial facilities. Engineered for reliability.</p>
</section>